@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("../styles/fonts/NHaasGroteskDSPro-55Rg.woff2") format('woff2');
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("../styles/fonts/NHaasGroteskDSPro-56It.woff2") format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("../styles/fonts/NHaasGroteskDSPro-65Md.woff2") format('woff2');
  font-weight: bold;
}

body {
  font-family: "Neue Haas Grotesk Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scrollbar-color: dark;
  background-color: #3E4145;
}

body, html {
  height: 100%;
  display: grid;
}

.box {
  margin: auto;
}

#main-bar {
  transition: width 0.5s;
}