@font-face {
    font-family: "Neue Haas Grotesk Display";
    src: url("styles/fonts/NHaasGroteskDSPro-55Rg.woff2") format('woff2');
    font-style: normal;
}

@font-face {
    font-family: "Neue Haas Grotesk Display";
    src: url("styles/fonts/NHaasGroteskDSPro-56It.woff2") format('woff2');
    font-style: italic;
}

@font-face {
    font-family: "Neue Haas Grotesk Display";
    src: url("styles/fonts/NHaasGroteskDSPro-65Md.woff2") format('woff2');
    font-weight: bold;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(0px, 27.5%);
    font-family: "Neue Haas Grotesk Display",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga', 'clig', 'kern';
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

#main-content {
    background-color: #3E4145;
}

.item-name {
    -webkit-user-select: text;
    user-select: text;
}

.item-tile {
    position: relative;
}

.item-tile:hover {
    filter: brightness(80%) !important;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    transform: translate(calc(100% - 3px), -47%);
}

:root {
    --common-color: #C3BCB4;
    --uncommon-color: #366F42;
    --rare-color: #5076A3;
    --legendary-color: #513065;
    --exotic-color: #CEAE32;
}

.hidden {
    content-visibility: hidden;
}

code {
    user-select: text;
}

.status-text {
    color: #FFF;
}

.status-warn {
    color: #FFFF00
}

.status-error {
    color: #FF0000;
}

#aggregateCheckbox {
    margin-left: 1.25rem;
    margin-top: 2.25rem;
}

.checkboxNote {
    margin-left: 1.25rem;
}
